<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markbackend.dao.TeacherDao">
    <select id="findAll" resultType="com.markbackend.pojo.Teacher">
        select *
        from T
    </select>
    <select id="login" resultType="com.markbackend.pojo.Teacher">
        select *
        from T
        where logn = #{logn}
    </select>
    <update id="setRate">
        update C
        set rate = #{rate}
        where cno = #{cno}
    </update>
    <update id="updateStudentgrade" parameterType="com.markbackend.pojo.StudentGrade">
        update SC
        set testgrade  = #{testgrade},
            usualgrade = #{usualgrade}
        where sno = #{sno}
          and cno = #{cno}
    </update>
    <update id="calGrade">
        update SC
        set grade = (select rate from C where cno = #{cno}) * testgrade +
                    (1 - (select rate from C where cno = #{cno})) * usualgrade
        where cno = #{cno}
--         不知道为什么用别名失败了
    </update>
</mapper>